.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  padding-top: 100px;
  height: 600px;
  background-image: url("../../assets/landing3.jpeg");
  background-size: cover;
  color: #555;
}

.leftBox {
  padding-left: 70px;
}

.midContainer {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
  background: linear-gradient(to right, #14c1c7, #34d6ce);
  padding-top: 12px;
  padding-bottom: 12px;
}

.midContainerBtn {
  color: #2aa1b0;
}

.midContainer > button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 15px;
  color: #2aa1b0;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 500;
  line-height: 40px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    height: 600px;
    background-image: url("../../assets/landing3.jpeg");
    background-size: cover;
    color: #555;
  }

  .midContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
    height: 100%;
  }

  .midContainer > button {
    margin: 10px 0;
    width: 80%;
  }
}
