.container {
  height: 100vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noPost {
  margin-top: 200px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
}
