.container {
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
  height: 150px;
  background-color: #f3f3f3;
  /* padding: 20px 0; */
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}
